<div style="margin-bottom:20px; color: rgb(89, 151, 1); position: relative; bottom: auto;" >
    <h3>DEVICE FORM</h3>
</div>
<form action="/create_device" method="post" >
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Tên Thiết Bị</label>
        <input type="test" class="form-control" id="txtname" placeholder="Tên Thiết Bị" name="name">
    </div>
    <div class="form-group col-md-6">
      <label>Vị Trí</label>
      <input type="text" class="form-control" id="txtvitri" placeholder="Vị trí" name="location">
    </div>
    <div class="form-group col-md-6">
      <label>Công Suất (W)</label>
      <input type="number" class="form-control" id="txtcongsuat" placeholder="Công suất" name="power" step="0.1">
    </div>
    
    <div class="form-group col-md-6">
      <label>Modem</label>
      <input type="text" class="form-control" id="txtmodem" placeholder="Modem" name="modem">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlTextarea1">Ghi Chú</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name='note'></textarea>
    </div>
  </div>
  <div class="form-row">
    
    
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" id="btnsubmit" >Thêm device</button>
    <button type="button" class="btn btn-primary float-right" id="btnxem" >Xem device</button> 
  </div>
    
    
</form>
  
<script>
  
</script>