<div style="margin-bottom:20px; color: rgb(21, 230, 230); position: relative; bottom: auto;" >
    <h3>FORM THÊM MÃ VẬT TƯ</h3>
</div>
<form  action="luumavattu" method="post">
    <div class="form-group" id="select">
        <label>Chọn Loại Vật Tư</label>
        <select class="form-control" id="luachon" name="loaivattu" >
          <option value="dienlanh">Điện Lạnh</option>
          <option value="dien">Điện</option>
          <option value="nuoc">Nước</option>
          <option value="cokhi">Cơ Khí</option>  
          <option value="son">Sơn</option>
        </select>
       
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Mã Vật Tư</label>
          <input type="test" class="form-control" id="txtmavattu" placeholder="Mã Vật Tư" name="mavattu">
        </div>
        <div class="form-group col-md-6">
          <label>Tên Vật Tư</label>
          <input type="test" class="form-control" id="txttenvattu" placeholder="Tên Vật Tư" name="tenvattu">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="luuvattu">LƯU VẬT TƯ</button>
    </div>
    
</form>