<div>
  <table class="table1">
    <tbody>
      <tr>
        <td class="left-column">
          <img class="logo1" src="/img/logoventech.png" />
        </td>
        <td class="right-column">
          <img class="logo2" src="/img/logoupl.png" />
        </td>
      </tr>

      <tr>
        <td colspan="2" class="centered-text">
          <b>PROJECT DAILY REPORT (BÁO CÁO DỰ ÁN THEO NGÀY)</b>
        </td>
      </tr>

    </tbody>
  </table>
  <div><b>General Information (Thông tin tổng quan): </b></div>
  <table class="table1">
    <tbody>
        <tr>
            <td class="left-column">
                Reporter: Lộc, Phan Tấn
            </td>
            <td class="right-column">
                To: Mr Hiệp
            </td>
        </tr>
        <tr>
            <td class="left-column">
                Phone No: 0933757326 
            </td>
            <td class="right-column">
                Company: UPL Vietnam
            </td>
        </tr>
        <tr>
            <td class="left-column">
                Email: loc.pt@ventech-asia.com 
            </td>
            <td class="right-column">
                Add: Đường 11 Amata, KCN Long Bình, Phường Long Bình, Thành phố Biên Hoà, ĐN
            </td>
        </tr>
        <tr>
            <td class="left-column">
                RP Date: 16/08/2022 to 19/08/2022
            </td>
            <td class="right-column">
                SoW:: IT Onsite
            </td>
        </tr>
    </tbody>
  </table>
  <div class="balance">

  </div>
  <table class="table1">
    <tbody>
      <tr>
        <td class="left-column dongke">
            Detailed Report Information (Chi tiết công việc) :
        </td>
        <td class="right-column dongke ">
            Technical Issues Information (If Any) Kết quả xử lý công việc 
        </td>
      </tr>

      <tr>
        <td class="left-column centered-text dongke">
          <b>Tasks Description Miêu tả công việc </b>
        </td>
        <td class="right-column centered-text dongke">
            <b>Issues/ Comments Kết quả công việc </b>
          </td>
      </tr>
      <tr>
        <td class="dongke">
            <%- data.motacongviec %>
        </td>
        <td class="dongke">
            <%= data.ketquacongviec %>
        </td>

    </tr>
    </tbody>
  </table>
 <div class="balance"></div>
 <table class="table1">
    <tbody>
      <tr>
        <td class="left-column dongke">
          NBD Detailed Report Information: (Chi tiết công việc của ngày tiếp theo) 
        </td>
        <td class="right-column dongke ">
            Technical Issues Information (If Any) Kết quả xử lý công việc 
        </td>
      </tr>

      <tr>
        <td class="left-column centered-text dongke">
          <b>Tasks Description Miêu tả công việc </b>
        </td>
        <td class="right-column centered-text dongke">
            <b>Solutions/ Suggestions </b>
          </td>
      </tr>
      <tr>
        <td class="dongke">
            1. cong viec <br />
            2. cong viec <br />
            3. cong viec <br />
            4. cong viec <br />
            5. cong viec <br />
            6. cong viec <br />
        </td>
        <td class="dongke">
            1. cong viec <br />
            2. cong viec <br />
            3. cong viec <br />
            4. cong viec <br />
            5. cong viec <br />
            6. cong viec <br />
        </td>

    </tr>
    </tbody>
  </table>
<div class="balance"></div>
<table class="table1 dongke">
    <tbody >
        <tr>
            <b>Project Engineers Information:</b>
        </tr>
        <td style="width: 5%;">
            No.
        </td>
        <td style="width: 30%;">
            List Of Engineers Danh sách kỹ sư 
        </td>
        <td style="width: 10%;">
            08:00 - 12:00
        </td>
        <td style="width: 10%;">
            13:00 - 16:30
        </td>
        <td style="width: 30%;">
            Overtime Tasks Description Miêu tả chi tiết công việc tăng ca 
        </td>
        <td style="width: 15%;">
            OT Start - End
        </td>
      </tr>
      <tr class="dongke" >
        <td colspan="6" style="border-bottom: 2px solid blue; border-top: 2px solid blue;">
            1
        </td>
      </tr>
      <tr >
        <td colspan="6" style="border-bottom: 2px solid blue;">
            2
        </td>
      </tr>
      <tr >
        <td colspan="6" >
            3
        </td>
      </tr>
    </tbody>
  </table>
<div class="balance"></div>
<table class="table2 dongke">
    <tbody>
      <tr>
        <td class="centered-text" colspan="2" style="border-bottom: 1px solid blue; background-color:blue">
         <b>LEGENDS:</b>
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>MGR</b>
        </td>
        <td style="width: 70%;">
            Manager
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>SoW</b>
        </td>
        <td style="width: 70%;">
            Scope of Work
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>NBD</b>
        </td>
        <td style="width: 70%;">
            Next Business Day
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>Add</b>
        </td>
        <td style="width: 70%;">
            Address
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>RP</b>
        </td>
        <td style="width: 70%;">
            Report
        </td>
      </tr>
      <tr>
        <td class="centered-text" style="width: 30%;">
         <b>Qty</b>
        </td>
        <td style="width: 70%;">
            Quantity
        </td>
      </tr>
    </tbody>
  </table>
</div>
<style>
  .logo1 {
    width: 10rem;
  }

  .logo2 {
    width: 10rem;
    float: right;
  }

  .table1 {
    border: 2px solid blue;
    
  }

  .table2{
    width: 30%;
    border: 1px solid blue;
  }

  table {
    width: 100%;
  }

  .left-column {
    width: 50%;
  }

  .right-column {
    width: 50%;
  }

  /* Thiết lập kích thước giấy A4 */
  @page {
    size: A4;
  }

  .centered-text {
    text-align: center;
    font-size: large;
    font-weight: 200;
    font-style: italic;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .balance{
    margin-top: 5px;
  }
  .dongke{
    border: 2px solid blue;
    
  }
</style>